<!-- <img-comparison-slider style="max-height: 53rem; width: 150%">-->
<!--    <img slot="first"  src="assets/trees-g1898f18a5_1920.jpg"  alt=""/>-->
<!--    <img slot="second" src="assets/fire.jpeg"  alt=""/>-->
<!--  </img-comparison-slider>-->
<div class="center" style="margin: auto;">
<!-- <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">-->
<!--   <div class="carousel-inner">-->
<!--     <div class="carousel-item active">-->
<!--       <img src="https://cdn.pixabay.com/photo/2018/11/17/22/15/trees-3822149_960_720.jpg" class="d-block" alt="...">-->
<!--     </div>-->
<!--     <div class="carousel-item">-->
<!--       <img src="https://cdn.pixabay.com/photo/2019/06/14/09/05/ape-4273153_960_720.jpg" class="d-block" alt="...">-->
<!--     </div>-->
<!--     <div class="carousel-item">-->
<!--       <img src="https://cdn.pixabay.com/photo/2020/11/02/17/07/tree-stump-5707332_960_720.jpg" class="d-block" alt="...">-->
<!--     </div>-->
<!--     <div class="carousel-item">-->
<!--       <img src="https://cdn.pixabay.com/photo/2016/01/03/11/03/animal-welfare-1119273_960_720.jpg" class="d-block" alt="...">-->
<!--     </div>-->
<!--     <div class="carousel-item">-->
<!--       <img src="https://cdn.pixabay.com/photo/2016/03/27/22/22/fox-1284512_960_720.jpg" class="d-block" alt="...">-->
<!--     </div>-->
<!--   </div>-->
<!-- </div>-->
<!--</div>-->
 <img-comparison-slider>
   <img slot="first" src="assets/forest.png"  alt=""/>
   <img slot="second" src="assets/deforest.png"  alt=""/>
 </img-comparison-slider>
</div>
 <div class="phrase">
 <h1 class="text">Decide which world you want to live in</h1>
 </div>
