.header {
  width: 80%;
  text-align: center;
  margin: auto;
}

img {
  width: 40%;
  margin-bottom: 25px;
}

.event {
  text-align: center;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 20px;
  width: 80%;
  top: 62px;
}

input {
  width: 60%;
  justify-content: center;
  margin: auto;
}

.button {
  margin-left: 30px;
  background-color: #008294;
  color: white;
}

.avatar {
  justify-content: center !important;
  margin: auto !important;
  text-align: center;
}

.other-events-container {
  display: flex;
  margin: auto;
  justify-content: space-evenly;
}

.other-events {
  width: 20rem;
  background-color: white;
  padding: 10px;
  margin-bottom: 10px;
}

.date {
  font-size: 1.25rem;
  line-height: 1.75rem;
  padding-bottom: 0.75rem;
  font-weight: 500;
  border-bottom: 1px solid black;
  margin-bottom: 1.5rem;
}

.margin-left {
  margin-left: 20px;
}

.buttons {
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.details {
  padding-bottom: 50px;
}
