<div class="grid">
  <div class="sidebar">
    <a href="#" routerLink="/">Home</a>
    <a class="active" href="#" routerLink="/home">Your Profile</a>
    <a routerLink="/your-events/{{userId}}">Your created Events & Courses</a>
    <a routerLink="/new-events/{{userId}}">Create a new event</a>
    <a routerLink="/new-course/{{userId}}">Create a new course</a>
    <button (click)="logout()">Log Out</button>
  </div>

  <div class="container">
    <h1 class="text">{{welcomeMessage}} {{user.name}}! </h1>
    <h1 class="title">Your Events</h1>
    <h1 class="date">Events for {{date}}</h1>

    <div class="alert alert-success" role="alert" *ngIf="attendeeEvents.length <= 0">
        No event found.
    </div>

    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">You have unattended from this event</h5>
          </div>
          <div class="modal-footer">
            <button type="button" (click)="modalOpen = false" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <div class="grid" *ngIf="attendeeEvents.length > 0">
    <div class="card" style="width: 18rem;" *ngFor="let meeting of attendeeEvents">
      <img src="{{meeting.picture}}" class="card-img-top" alt="...">
      <div class="card-body" >
        <h5 class="card-title">{{meeting.title}}</h5>
        <h5 class="card-title">{{meeting.date | date: 'dd-MMMM-yyyy'}}</h5>
        <div class="group">
          <h5 class="card-title" style="margin-right: 50px">{{meeting.date | date: 'dd-MMMM-yyyy'}}</h5>
          <h5 class="card-title"> | {{meeting.place}}</h5>
        </div>
        <p class="card-text">{{meeting.description}}</p>
        <a href="#" class="btn btn-primary" [routerLink]="['/event', meeting.id]">See Event</a>
        <button type="button" (click)="unattend(meeting.id)" data-bs-target="#staticBackdrop" data-bs-toggle="modal" class="btn btn-danger">Unattended</button>
      </div>
    </div>
   </div>

    <h1 class="date">Events coming soon</h1>
    <div class="empty-message" *ngIf="comingSoon.length <= 0">

      <div class="alert alert-success" role="alert">
        No events found. Click here to find events!
      </div>
    </div>

  </div>

</div>
