<div class="grid-profile">
  <app-lateral-menu></app-lateral-menu>

  <div class="container">
    <h1 class="text">{{welcomeMessage}} {{user.name}}! </h1>
    <h1 class="title">Your Events</h1>
    <h1 class="date">Events for {{date}}</h1>

    <div class="alert alert-success" role="alert" *ngIf="eventsForToday.length <= 0">
      No event found.
    </div>

    <div class="card-display" *ngIf="eventsForToday.length > 0">
      <app-event-card *ngFor="let event of eventsForToday" [event]="event" (sendAlertEvent)="sendAlertReceived()"></app-event-card>
    </div>

    <h1 class="date">Events coming soon</h1>
    <div class="empty-message" *ngIf="attendeeEvents.length <= 0">

      <div class="alert alert-success" role="alert">
        No events found. Click here to find events!
      </div>
    </div>
    <div class="card-display" *ngIf="attendeeEvents.length > 0">
      <app-event-card *ngFor="let event of attendeeEvents" [event]="event" (sendAlertEvent)="sendAlertReceived()"></app-event-card>
    </div>

  </div>

</div>


