<div class="grid-profile">
  <app-lateral-menu></app-lateral-menu>

  <div class="container">
    <h1 class="text">Welcome back {{userName}}! </h1>
    <h1 class="title">Your Events</h1>
    <h1 class="date">Events for {{date}}</h1>

    <div class="alert alert-success" role="alert" *ngIf="todayEvents.length <= 0">
      No events found for today. Go find some!
    </div>

    <div class="card-display" *ngIf="todayEvents.length > 0">
      <app-event-card *ngFor="let event of todayEvents" [event]="event" (sendAlertEvent)="sendAlertReceived($event)"></app-event-card>
    </div>

    <h1 class="date">Events coming soon</h1>
    <div class="empty-message" *ngIf="eventList.length <= 0">
      <div class="alert alert-success" role="alert">
        No events found. Go find some!
      </div>
    </div>

    <div class="card-display" *ngIf="eventList.length > 0">
      <app-event-card *ngFor="let event of eventList" [event]="event" (sendAlertEvent)="sendAlertReceived($event)"></app-event-card>
    </div>

  <h1 class="date">Your Courses</h1>
    <div class="empty-message" *ngIf="courseList.length <= 0">
      <div class="alert alert-success" role="alert">
        No Courses found. Go find some!
      </div>
    </div>
  <div class="card-display" >
      <app-course-card *ngFor="let course of courseList" [course]="course"></app-course-card>
  </div>
  </div>
</div>


