.welcome {
  width: 80%;
  justify-content: center;
  margin: auto;
  text-align: center;
}

.container{
  justify-content: center;
  margin: auto;
}

.button{
  margin: 10px;
  padding: 3px;
}

.carousel{
  margin-bottom: 30px;
}
.card-text{
  color: black;
  margin-bottom: 40px;
}
.card{
  margin-right: 20px;
}
.card-img-top{
  max-height: 30rem;
}

.carousel-control-next, .carousel-control-prev {
  background-color: #008294;
  border-radius: 50%;
  height: 14%;
  width: 3%;
  top: 34%;
}

button{
  color: black;

}

.carousel-size{
  width: 80%;
  justify-content: center;
  margin: auto;
}

*,
:after,
:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

section {
  height: 20vh;
  width: 100%;
  display: table;

}

section.ok {
  background-color: black;
}

p {
  font-family: arial;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.scroll-down {
  opacity: 1;
  -webkit-transition: all .5s ease-in 3s;
  transition: all .5s ease-in 3s;
}

.scroll-down {
  position: absolute;
  bottom: 123px;
  left: 50%;
  margin-left: -16px;
  display: block;
  width: 90px;
  height: 90px;
  border: 3px solid black;
  background-size: 14px auto;
  border-radius: 50%;
  z-index: 2;
  -webkit-animation: bounce 2s infinite 2s;
  animation: bounce 2s infinite 2s;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
  transform: scale(1)
}

.scroll-down:before {
  position: absolute;
  top: calc(50% - 8px);
  left: calc(50% - 6px);
  transform: rotate(-45deg);
  display: block;
  width: 12px;
  height: 12px;
  content: "";
  border: 3px solid black;
  border-width: 0px 0 3px 3px;
}

@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  60% {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}

::selection { background-color: #C3CFE2; }

.text {
  justify-content: center;
  width: 60rem;
  text-align: center;
  margin: 200px auto 60px;
  color: #000;
  font-family: "Roboto",sans-serif;
  font-size: 3.25rem;
  line-height: 3rem;
  padding-bottom: 0.75rem;
  font-weight: 500;
  border-bottom: 1px solid black;
}

.grid-list{
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-column-gap: 30px;
  text-align: center;
  width: 80%;
  justify-content: center;
  margin: auto;
}

form{
  width: 80%;
  justify-content: center;
  margin: auto;
}

.list-group{
  width: 50% !important;
  margin-right: 20px;
}

.form{
  display: flex;
}

.image-description{
  margin-top: 80px;
  max-width: 76%;
}
