<div class="center">
  <h1 class="text date">What are you looking for?</h1>
  <div class="container">
    <form>
      <div class="form">
        <div class="list-group">
          <label><h3 class="color-text">Type of Event</h3></label>
          <input type="text" class="form-control" name="type" [(ngModel)]="type" placeholder="ONG">
        </div>
        <div class="list-group">
          <label><h3 class="color-text">Location</h3></label>
          <input type="text" class="form-control" name="location" [(ngModel)]="place" placeholder="Madrid">
        </div>
      </div>
    </form>
  </div>
  <div class="grid">
    <div class="card" style="width: 50rem;" *ngFor="let meeting of page">
      <img src="{{meeting.picture}}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{meeting.title}}</h5>
        <div class="group">
          <h5 class="card-title">{{meeting.date | date: 'dd-MMMM-yyyy'}}</h5>
          <h5 class="card-title"> | {{meeting.place}}</h5>
        </div>
        <div>
          <p class="card-text">{{meeting.description}}</p>
        </div>
        <div class="center">
          <a href="#" class="btn btn-primary btn-lg button" [routerLink]="['/event', meeting.id]">See Event</a>
          <button type="button" (click)="joinMeeting(meeting.id)"  data-bs-target="#staticBackdrop" data-bs-toggle="modal" class="btn btn-warning btn-lg button">Join!</button>
        </div>
      </div>
    </div>
  </div>
  <div class="center-display">
    <nav aria-label="...">
      <ul class="pagination">
        <li class="page-item">
          <button (click)="previous()" class="page-link" [disabled]="pagination == 0" >Previous</button>
        </li>
        <li><button *ngFor="let numberPage of numberPages; let index" [ngClass]="pagination == index ? 'active' : ''" (click)="goToPage(index)"  class="page-link" >{{index +1}}</button></li>
        <li class="page-item">
          <button (click)="next()" class="page-link" [disabled]="pagination >= maxPages-1" >Next</button>
        </li>
      </ul>
    </nav>
  </div>
</div>

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Congrats! You successfully joined to this event!</h5>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="modalOpen = false" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


