.container{
  margin-top: 40px;
  margin-bottom: 40px;
}

.grid{
  margin-top: 40px;
  display: inline-grid;
  grid-template-columns: 50% 50%;
  grid-gap: 100px;
  margin-bottom: 30px;
}

li{
  display: contents;
}

.active{
  background-color: #0d6efd;
  color: white;
}

.center{
  text-align: center;
  justify-content: center;
  margin: auto;
}

.center-display{
  display: flex;
  text-align: center;
  justify-content: center;
  margin: auto;
}

.list-group{
  width: 50% !important;
  margin-right: 20px;
}

.form{
  display: flex;
}
