<div class="center">
  <h1 class="text date">What are you looking for?</h1>
  <div class="container">
    <form>
      <div class="form">
        <div class="list-group">
          <label><h3 class="color-text">Type of Event</h3></label>
          <input type="text" class="form-control" name="type" [(ngModel)]="type" placeholder="ONG">
        </div>
        <div class="list-group">
          <label><h3 class="color-text">Location</h3></label>
          <input type="text" class="form-control" name="location" [(ngModel)]="place" placeholder="Madrid">
        </div>
      </div>
      <div class="center">
        <button type="submit" style="margin-top: 30px; background-color: #008294; padding: 10px" class="btn btn-primary btn-lg button"
                (click)="filter()">Find Events!
        </button>
      </div>
    </form>
  </div>
  <div class="grid">
    <app-event-card *ngFor="let event of page" [event]="event"></app-event-card>
  </div>
  <div class="center-display">
    <nav aria-label="...">
      <ul class="pagination">
        <li class="page-item">
          <button (click)="previous()" class="page-link" [disabled]="pagination == 0" >Previous</button>
        </li>
        <li><button *ngFor="let numberPage of numberPages; let index" [ngClass]="pagination == index ? 'active' : ''" (click)="goToPage(index)"  class="page-link" >{{index +1}}</button></li>
        <li class="page-item">
          <button (click)="next()" class="page-link" [disabled]="pagination >= maxPages-1" >Next</button>
        </li>
      </ul>
    </nav>
  </div>
</div>


