<div class="body">
  <h1 class="text-center text-white pt-5">One Planet. One chance.</h1>
  <div id="login">
    <div class="container">
      <div id="logbox">
        <h3 class="text-center margin-button pt-5">Login</h3>
        <form id="signup" method="post" [formGroup]="registerForm">
          <input name="user[name]" type="email" placeholder="What's your email?" (change)="error = ''" [(ngModel)]="emailUser" formControlName="email"
                required="required" class="input pass"/>
          <input name="user[password]" (change)="error = ''" type="password" placeholder="Choose a password" [(ngModel)]="passwordUser" formControlName="password" required="required"
                 class="input pass"/>
          <div class="alert alert-info" role="alert" *ngIf="registerForm.invalid && emailInput.touched && passwordInput.touched ">
            Please check the fields again!
          </div>
          <div class="alert alert-info" role="alert" *ngIf="error">
            {{error}}
          </div>
          <input type="submit" (click)="login()" [disabled]="registerForm.invalid" value="Ready to make an impact!" class="inputButton"/>
          <div class="text-center">
            don't have an account? <a routerLink="/register" id="login_id">Sign Up</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
